!!!
%html
  %head
    %title Batsd Dash

    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => :author, :content => 'http://breakbase.com'}

    -# shitload of deps for a datetimepicker :( (TODO use d3 only)
    %link{:rel => 'stylesheet', :href => '/css/jquery-ui.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/datetimepicker.css', :type => 'text/css'}
    %script{:src => '/js/jquery.js'}
    %script{:src => '/js/jquery-ui.js'}
    %script{:src => '/js/datetimepicker.js'}

    -# D3 & NV
    %link{:rel => 'stylesheet', :href => '/css/d3.css', :type => 'text/css'}
    %script{:src => '/js/d3.js'}
    %script{:src => '/js/nv.d3.js'}

    %link{:rel => 'stylesheet', :href => '/css/public.css', :type => 'text/css'}

  %body
    #header
      .wrap
        %h1
          %a{:href => '/'} Batsd Dash

    #content
      = yield

    %script{:src => '/js/dash.js'}
